name = "IncompleteLU"
uuid = "40713840-3770-5561-ab4c-a76e7d0d7895"
author = ["Harmen Stoppels <me@harmenstoppels.nl>"]
version = "0.1.2"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
